<div>
	

	<h1>Hey Test template</h1>

	<div class="container">

		<div class=" row">>


			<div class="col-md-12">

					{{fig}}

				<form>

						


				</form>


				</div>
	

		</div>	
		<div>
			<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Map time!</h1>
   <div id='map' width="100%" style='height:400px'></div>
   <script>
    mapboxgl.accessToken = "pk.eyJ1Ijoic2FjaGludGhha3VyOTYxNCIsImEiOiJjazVsZHV2YmYwbnM2M2ZudzhuOWE3dnVyIn0.Xj1ZZKO4fv9RwcQdSz-L-g";
    var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/satellite-streets-v10',
      center: [12.92,77.67],
     zoom: 5,
      bearing: 0
    });
   </script>
  </body>
</html>
		</div>

</div>